<div>
    <section>
        <h5> {{current}} / 10 </h5>
    </section>

    <section>
        <img src="{{country?.flag}}" alt="">
    </section>

    <form (ngSubmit)="goToNextQuestion()">
        <section>
            <input type="text" placeholder="Country" [(ngModel)]="answer" name="a">
        </section>

        <section>
            <!-- <button (click)="goToNextQuestion()" *ngIf="current !== 10">Next</button> -->
            <button (click)="finishQuiz()" *ngIf="current === 10">Finish</button>
        </section>
    </form>

</div>